*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: $font-default;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: $color-gray-light-3;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
