/*---------- COLOR ----------*/
$color-primary: hsl(24, 80%, 66%);
$color-primary-2: hsl(24, 80%, 75%);
$color-primary-3: hsl(25, 100%, 90%);
$color-secondary: hsl(201, 49%, 58%);
$color-gray: hsl(217, 14%, 68%);
$color-gray-light-1: hsl(217, 14%, 80%);
$color-gray-light-2: hsl(217, 14%, 90%);
$color-gray-light-3: hsl(217, 14%, 93%);

/*---------- FONT ----------*/
$font-default: "Karla", sans-serif;
$font-regular: 400;
$font-bold: 700;
